<%- include("header") -%>

<h2>This is the about page.</h2>

<p>
    auefilv jeahraiu;ogn heriuaolgn.j aurtuiaypijaij ay9taitojuh; ay9ua'pri 
    OIOIUFM. iuhg;ozn ;toy ouijaja 
</p>

<%- include("footer") -%>